.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Inter', sans-serif; 
}

.signup-card {
    padding: 40px 30px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    border: 1px solid #333; 
    text-align: left;
}

.signup-card h2 {
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 25px;
    text-align: center;
    font-weight: 500;
}

.signup-card label {
    display: block;
    color: #a0a0a0;
    font-size: 14px;
    margin-bottom: 8px;
}

.signup-card input {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 20px;
    border: 1px solid #444;
    border-radius: 4px;
    color:#333;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.signup-card input:focus {
    border-color: #387ed1; 
    outline: none;
}


.signup-card button {
    width: 100%;
    padding: 14px;
    background-color: #1a73e8;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 5px;
}


.signup-card p {
    color: #888;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}

.signup-card a {
    color: #1a73e8;
    text-decoration: none;
}

.signup-card a:hover {
    text-decoration: underline;
}